<div class="movie-card" style="background-image: url({{bgURL}})">

    <div class="container" >
        <div class="hero">
            <div class="title1">{{title}}</div>
        </div>
        <div class="displayDetails">
        <div class="bgImg" style="background-image: url({{bgURL}})"></div>

            <div class="column2">
                <li class="tag">{{runtime}}</li>
                <li class="tag">{{released}}</li>
                <li class="tag">{{imdbRating}}</li>
                <li class="tag">{{type}}</li>
                <li class="tag">{{year}}</li>
                <li class="tag">{{imdbVotes}}</li>
                <li class="tag">{{actors}}</li>
                <li class="tag">{{boxOffice}}</li>
                <li class="tag">{{country}}</li>
                <li class="tag">{{director}}</li>
                <li class="tag">{{genre}}</li>
                <li class="tag">{{language}}</li>
                <li class="tag">{{writer}}</li> 
            </div>

            <div class="column3"> {{plot}} </div>
            <a [routerLink]="['/']" class="btn-a">
                <div class="btn-home"> Home </div>
            </a>
            
        </div>
    </div> 
</div> 