
<div class="yearFilter" *ngIf="cardDatas">
   
    <span #yearFilterSapn><b>
        Starting:<input type="month"  class="filterbox" #year1Id>
        Ending: <input type="month" class="filterbox" #year2Id> 
        <button (click)="filterChange(year1Id.value,year2Id.value)" class="filterbtn">Filter</button>
    </b></span>

   
</div>


<div  class="groupcard"  *ngIf="!movieNotFound" >    
    <div class="subgroupcard" *ngFor="let cardData of cardDatas">
        <app-cards *ngIf="(year1<=cardData.Year || yearCheck1)&&(year2>=cardData.Year || yearCheck2)"   [res]="cardData" [page]="pageNo"></app-cards>
    </div>
    </div>

    <div *ngIf="movieNotFound" class="movieNotFound" >
    </div>

        <div *ngIf="cardDatas && !movieNotFound">
            <div class="container">
                <div class="text-center">
        
        
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="setPage(1)" [routerLink]="['/searchquery',1,movieName]">First</a>
        
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="setPage(pager.currentPage - 1)"
                                [routerLink]="['/searchquery',this.pager.currentPage - 1,movieName]">
                                << </a>
                        </li>
                        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                            <a (click)="setPage(page)"
                                [routerLink]="['/searchquery',page,movieName]">{{page}}</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="setPage(pager.currentPage + 1)"
                                [routerLink]="['/searchquery',pager.currentPage+1,movieName]"> >> </a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="setPage(pager.totalPages)"
                                [routerLink]="['/searchquery',pager.totalPages,movieName]">Last</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    




