
.container {
    margin: 0;
    padding: 0;
    width: 150px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.viewMain {
    margin: 0;
    padding: 0;
    opacity: 0.8;
    display: flex;
    color: white;
    align-items: center;
    list-style-type: none;
    flex-direction: column;
    justify-content: center;
    background-color: #1e1b26;
    box-shadow: 5px 5px 115px -14px black;
}

.view {
    width: 100px;
    padding: 1px;
    align-items: center;
    user-select: none;
    border-radius: 5px;
    text-align: center;
    border: 1px solid rgb(11, 115, 129);
}
.view:hover{
    
    color: white;
    background-color: rgb(11, 115, 129);
}

.btn-a{
    text-decoration: none;
}